<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>BP - React</title>
        <link href="css/site.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <main id="root"><%- markup -%></main>

        <script src="js/client.js"></script>
    </body>
</html>